$main-color: #666666;


.nav-tabs {
    padding: 10px;
}

.no-padding {
    padding: 0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.margin-right{
    margin-right: 15px;
}

.follow-user-container{
    background-color: rgb(43, 43, 43);
    margin: 10px;
    padding: 50px;
    cursor: pointer;    
}

.follow-user-container:hover{
    background-color: rgb(95, 95, 95);
}

.follower-user-img{
    text-align: center;
    height: 35px;
    width: 35px;
    margin:auto;
    display: block;
}

.follower-user-username{
    font-size: 20px;
    color: whitesmoke;
}

.col-md-3{
    padding-right: 0px;
}

.col-md-9{
    padding-left: 0px;
}

.col-md-12{
    padding-left: 0px;
}


.player-window{
    background-color: black;
}

.profile-icon{
    height: 20px;
    width: 20px;
}

.bold-text{
    font-weight: bold;
}

//Navigation tabs

.nav-tabs{
    margin-bottom: 10px;
    border-right-color: lightgray;
    border-radius: 2px;
    padding: 5px 0px 5px 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover  { 
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom: 5px solid rgba(128, 128, 128, 0.2);
    border-right: 1px solid gray;
    color: $main-color;

}

.nav-tabs>li>a {
    color: $main-color;
    border-radius: 0;    
}

.prev-streams-text{
    font-size: 20px;
}

.nav-tabs>li>a:hover {
    background-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent!important;
    border-bottom: 5px solid rgba(128, 128, 128, 0.2);
    border-right: 1px solid gray;
}

.custom-tab-button{
    font-size : 20px;
    cursor: pointer;
    font-size: 18px;
    border-right: 1px solid gray;
}

.game-icon{
    height: 100px;
}

.flex-item{
    flex-grow: 1;
}

.flex-container{
    display: flex;
}

.stream-title{
    font-size: 20px;
    margin-left: 10px;
}

.game-title{
    font-size: 17px;
    margin-top: 5px;
    margin-left: 10px;
}

.game-info-container{
    margin-top: 10px;
    width : 100%;    
}


.following{
    background-color: #55AA55;
}

.not_following{
    background-color: firebrick;
}


.follow-link {
    border: none !important;
    color: white !important;
    padding: 10px;
    border-radius: 50%;
}




.nav-link.disabled {
    background-color: lightcoral;
    height: 50px;

}


.follow-link:hover, .follow-link.active {
    border: none !important;
    background-color: lightcoral !important;
    color: white !important;
    padding: 10px;
    border-radius: 50%;

}

.icon-container {
    width: 50px;
    height: 50px;
    display: inline-flex;
}

.f-awesome {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 24px;
    color: lightgray;
}




:host {
    display: block;
}

.directory-item {
    width: 200px;
    flex-grow: 999;
    
}

.directory-item>img {
    border-radius: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.vod-list{
    margin-top: 15px;
}

.title {
    font-size: 18px;
    margin-left: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden; 
}

.viewer-count {
    color: gray;
    font-size: 12px;
    margin-left: 2px;
}

#document-selection {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 80px;
    background-color: white;
    border: 1px solid #FFC3C3;
}

.user-page-container {
    width: calc(100% - 400px);
}

ngb-tabset /deep/ ul, ngb-tabset /deep/ .nav-link  {
    height: 50px;
}

ngb-tabset /deep/ ul {
    width: 80%;
}

ngb-tabset /deep/ #ngb-tab-3 {
    padding: 0;
}

.custom-follow {
    float: right;
    height: 50px;
    width: 50px;
    display: flex;
}

.custom-content {
    width: calc(100% - 400px);
}

.no-chat-custom-content {
    width: 100%;
}

.custom-nav-tabs {
    margin: 0;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.follow-button {
    margin-left: auto;
}