.container {
    margin-top: 100px;
}

.row {
    margin: 0;
}

.pnf-icon {
    display: inline-block;
    font-size: 82px;
    color: gray;
}

.pnf-text {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
}

.pnf-text > p {
    font-size: 32px;
}