$light-color: #458490;
$main-color: #6CA6B1;
$dark-color: #2A6D7A;

:host {
    display: block;
}

p {
    color: white;
}

a {
    color: white !important;
}

.custom-navbar {
    margin: 0;
    background-color: $dark-color;
    border-radius: 0;
}

.nav-link {
    margin-right: 20px;
    font-size: 14px;
}

