<div class="settings-container">
  <form id="form-username" (ngSubmit)="changeUserName()" #usernameForm="ngForm">

    <p class="text-left settings-title">New Username</p>
    <div class="d-flex flex-wrap">

    <input [(ngModel)]="username" type="text" id="new-username" name="username" class="form-control custom-input" required
      autofocus pattern="[a-zA-Z]+" #name="ngModel">
    <button type="submit" [disabled]="!usernameForm.form.valid" class="btn btn-primary btn-block settings-button">Save</button>
    </div>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger alert-box">
        <div [hidden]="!name.hasError('required')">Name is required</div>
        <div [hidden]="!name.hasError('pattern')">No special characters allowed</div>
      </div>
  </form>
</div>
