<div style="width: 100%; height: 100%; background-color: black; z-index: 9998; position: absolute; top:0; left: 0; opacity: 0.5;" class="cursor-pointer" (click)="closeThisComponent()">

</div>

<div id="sign-in-container" class="container text-center">
  
    <div id="googleBtn" class="google-button-right-square">      
        <div class="google-button-left-square fa fa-google"></div>
        Sign in with Google   
    </div>

    <p id="close-button"class="fas fa-window-close cursor-pointer" (click)="closeThisComponent()"></p>
  <ul class="nav nav-tabs">
    <li role="presentation" class="nav-item" [class.active]="displaySignIn">
      <a class="nav-link custom-tab-button" (click)="signInTab()">Log In</a>
    </li>
    <li role="presentation" class="nav-item" [class.active]="!displaySignIn">
      <a class="nav-link custom-tab-button" (click)="signUpTab()">Sign Up</a>
    </li>
  </ul>

  <div *ngIf="displaySignIn; else signUpBlock" class="form-signin">

    <form (ngSubmit)="customLogIn()" #loginForm="ngForm">

      <p class="font-weight text-left">Username</p>
      <input [(ngModel)]="username" type="text" id="login-username" name="username" class="form-control custom-input" required
        autofocus pattern="[a-zA-Z]+" #name="ngModel">

      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <div [hidden]="!name.hasError('required')">Name is required</div>
        <div [hidden]="!name.hasError('pattern')">No special characters allowed</div>
      </div>

      <p class="text-left">Password</p>
      <input [(ngModel)]="password" type="password" id="login-password" name="password" class="form-control custom-input" required minlength="8" #pwd="ngModel">
      <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger">
        <div [hidden]="!pwd.hasError('required')">Password is required</div>
        <div [hidden]="!pwd.hasError('minlength')">Password too short</div>
      </div>

      <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-block custom-button">Log In</button>
    </form>



  </div>

  <ng-template #signUpBlock>
      <form (ngSubmit)="custom_register(username,email,password)" #signupForm="ngForm">
        <div class="form-signin">
          <p class="text-left">Username</p>
          <input [(ngModel)]="username" type="text" id="login-username" name="signup-username" class="form-control custom-input" required="true" autofocus="">
          <p class="text-left">Email</p>
          <input [(ngModel)]="email" type="email" id="signup-email" name="signup-email" class="form-control custom-input" email required #signupemail="ngModel">
          <div [hidden] ="signupemail.valid ||signupemail.pristine" class="alert alert-danger"> Invalid email format</div>
          <p class="text-left">Password</p>
          <input [(ngModel)]="password" type="password" name="signup-password" id="signup-password" class="form-control custom-input" minlength="8" #signuppwd="ngModel" required>
          <div [hidden]="!signuppwd.hasError('minlength')" class="alert alert-danger">Password too short</div>
          
          <p class="text-left">Confirm Password</p>
          <input [(ngModel)]="passwordAgain" type="password" name="signup-password-again" id="signup-password-again" class="form-control custom-input"  #signuppwdrepeat="ngModel" required>

          <div [hidden] ="passwordMatches()" class="alert alert-danger"> Passwords do not match</div>
        </div>

        <button type="submit" [disabled]="!signupForm.form.valid || !passwordMatches()" class="btn btn-primary btn-block custom-button">Sign Up</button>

      </form>
  </ng-template>
</div>