:host {
    display: block;
}

.directory-item {
    width: 200px;
    flex-grow: 999;
}

.directory-item>img {
    border-radius: 0;
    border: none;
    padding: 0;
}

.title {
    font-size: 18px;
    margin-left: 2px;
}

.viewer-count {
    color: gray;
    font-size: 12px;
    margin-left: 2px;
}

#document-selection {
    height: 80;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 80px;
    background-color: white;
    border: 1px solid #FFC3C3;
}