<div class="p-3">
    <div id="document-selection"class="text-left m-2">
        <p class="d-inline-block">Search for </p>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
        <p class="d-inline-block"> order by </p>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
    </div>
  <div class="d-flex flex-wrap">
    <div class="p-2 directory-item" *ngFor="let game of popularGames">
      <img src="{{game.url}}" class="img-thumbnail">
      <div class="text-left title">{{game.name}}</div>
      <div class="text-left viewer-count">124,344 viewers</div>
  </div>

    
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
    <div class="p-2 directory-item"></div>
  </div> 
</div>
