:host {
    display: block;
}

.row {
    margin: 0;
}

.col-md-6 {
    padding: 15px;
    margin-top: 15px;
}

.width-50 {
    width: 50%;
}

.directory-item {
    width: 200px;
    flex-grow: 999;
    
}

.directory-item>img {
    border-radius: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.title {
    font-size: 18px;
    margin-left: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden; 
}

.viewer-count {
    color: gray;
    font-size: 12px;
    margin-left: 2px;
}

#document-selection {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 80px;
    background-color: white;
    border: 1px solid #FFC3C3;
    font-size: 18px;
}

.column-header {
    height: 40px;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #FFC3C3;
    margin-bottom: 15px;
}

.news-container {
    margin: 15px;
    padding: 15px;
    background-color: white;
    border: 1px solid rgba(211, 211, 211, 0.425);
}

.news {
    font-size: 18px;
    color: black;
}

.patch-title {
    font-weight: bold;
}