/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    height: 100%;
    text-align: center !important;
    background-color: #fafafa;
}

p {
    margin: 0;
    color: rgb(87, 82, 96);
}

a {
    color: #6CA6B1;
}

