/* You can add global styles to this file, and also import other style files */
$light-color: #9FDDE9;
$main-color: #6CA6B1;
$dark-color: #2A6D7A;

$footer-height: 100px;

html, body {
    margin: 0;
    height: 100%;
    text-align: center !important;
    background-color: #fafafa;
}

p {
    margin: 0;
    color: rgb(87, 82, 96);
}


// Sticky footer
//--------------------------
app-root {
    display: block;
    min-height: calc(100% - #{$footer-height});
    padding-top: 50px;
}

app-footer {
    display: block;
    height: $footer-height;
    background-color: #1D1E1E;
}
//--------------------------


