<div class="main">
    <div class="col-md-12 background">
        <img class="profile-icon  embed-responsive" src="https://static-cdn.jtvnw.net/community-images/6a723096-3135-4972-a296-ecd3b08be1ad/fa79e187-6dad-414a-b410-07b11093fc76-1200x180.jpeg">        
        
        <div class="col-md-12 overlay embed-responsive">
          <div class="row">
            <div class="col-md-8">
              <div class="game-title-container text-left"> This is my text </div>
            </div>
            <div class="col-md-4">
                <img class="game_picture text-right" src="https://static-cdn.jtvnw.net/user-default-pictures/27103734-3cda-44d6-a384-f2ab71e4bb85-profile_image-300x300.jpg">
              
            </div>
        </div>

        </div>
      </div>
    
      <div> RÖÖÖV</div>

</div>
