<div class="main">
    <div class="col-md-12 background">
        <img class="profile-icon  embed-responsive" src="{{wide_image_url}}">        
        
        <div class="col-md-12 overlay embed-responsive overflow">
          <div class="row">
            <div class="col-md-8">
              <div class="game-title-container text-left"> {{name}} </div>
            </div>
            <div class="col-md-4">
                <div class ="text-right extra-margin ">
                  <img class="game_picture" src="{{image_url}}">
                </div>
            </div>
        </div>
        </div>
      </div>
    
      <div class="p-3">
      <div class="d-flex flex-wrap">
          <div class="p-2 directory-item" *ngFor="let game of popularGames">
            <img src="{{game.url}}" routerLinkActive="active" class="img-thumbnail" routerLink="/game/{{game.name}}">
            <div class="text-left title">{{game.name}}</div>
            <div class="text-left viewer-count">124,344 viewers</div>
          </div>
      
          
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
          <div class="p-2 directory-item"></div>
      </div>

</div>
