$general-color: #333;
$navbar-height: 50px;

p {
    color: white;
}

.custom-navbar {
    background-color: $general-color;
    height: $navbar-height;
    line-height: $navbar-height;
    width: 100%;
    p {
        color: white;
        margin-left: 20px;
    }
}

