<div class="chat-container">
  <div class="chat-header">
    <p id="chat-header-title">Stream Chat</p>
  </div>
  <div class="chat-window">
    <div class="chat-message" *ngFor="let message of messages">
      <span class="chat-message-username">{{message.author}}</span>
      <span>:</span>
      <span class="chat-message-content">{{message.textMessage}}</span>
    </div>
  </div>
  <div class="chat-input-container">
    <form (ngSubmit)="sendMessage(message)" #chatForm="ngForm">
      <input [(ngModel)]="message" type="text" id="chat-input" name="chatinput" autocomplete="off" placeholder="Send a message"
        class="form-control custom-input input-chat-field" required minlength="1">
      <input type="submit" [disabled]="!chatForm.form.valid" value="Chat" class="btn btn-primary btn-block submit-button">
    </form>
  </div>
</div>