$chat-input-height: 100px;


:host{
    display: block;
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.chat-message-window{
    height: calc(100% - #{$chat-input-height});
    overflow-y: scroll;
}

.chat-input{
    width: 100%;
    height: $chat-input-height;
}

input { margin-bottom: 10px; }

