$chat-input-height: 100px;


:host{
    display: block;
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.chat-message-window{
    height: calc(100% - #{$chat-input-height});
    overflow-y: scroll;
    word-break: normal;
    background-color: white;
}

.chat-input{
    width: 100%;
    height: $chat-input-height;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.input-chat-field{
    margin-bottom: 10px;

}

.submit-button,{
    background-color: #D90202 !important;
    border-color: #A80000 !important;
    box-shadow: none;
}

.submit-button:hover,
{
  color: #ffffff;
  background-color: #A80000 !important;
  border-color: #A80000 !important;
  box-shadow: none;
}

