

.chat-container {
    position: fixed;
    top: 50px;
    right: 0;
    height: 100%;
    width: 400px;
    background-color: whitesmoke;
    border-left: 1px solid rgb(216, 216, 216);
}

.chat-header {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(216, 216, 216);
}

#chat-header-title {
    font-weight: bold;
    font-size: 14px;
}


.chat-window {
    height: 70%;
    padding-left: 15px;
    overflow-y: scroll;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.chat-message {
    margin-bottom: 5px;
}

.chat-message-username {
    font-weight: bold;
    color: red;
}

.chat-input-container {
    margin-left: 20px;
    margin-right: 20px;
}

#chat-input {
    border-radius: 0px;
    margin-bottom: 5px;
}

.submit-button {
    border-radius: 0px;
    width: 100px !important;
    margin-left: auto;
    margin-right: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}